<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='website/services.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="services">
      <h1>Services</h1>
      <div class="cen">
        <div class="service">
          <i class="fas fa-tags"></i>
          <h2>Price Monitoring</h2>
          <p>Stop tracking prices mannually.<br>Automatically track any product on any online store. </p>
        </div>

        <div class="service">
          <i class="fas fa-at"></i>
          <h2>E-mail Notifications</h2>
          <p>Set alerts and get noitifications on price change.</p>
        </div>

        <div class="service">
         <i class="fas fa-clipboard-list"></i>
          <h2>Reporting and Analytics</h2>
          <p>Get beautiful dashboards and summaries about your compititors pricing and catalog updates.</p>
        </div>
      </div>
    </div>
  </body>
</html>
